#sidebar {
  background-color: #1bb4ba;
  width: 12rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

Nav {
  display: flex;
  flex-direction: column;
}

.nav-item {
  margin: 0.5rem;
}

.nav-link.active {
  background-color: #405687 !important;
}

.nav-link.active span {
  color: #e4ec97 !important;
}

.nav-link span {
  color: #405687 !important;
}

hr {
  background: #405687;
  width: 9rem;
}
